body{
    background-color: #CCC;
    background-image: url("img/back_blue3.jpg");
    background-position: left bottom;
    background-size: cover;
    margin:0; text-align: center;
    font-family: 'Catamaran', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a{
	text-decoration: none;
	outline: 0;
}

main{
    position: relative;
    margin: 2.5% auto 200px auto;
	top:0;
    width: 95%;
	max-width: 1000px;
	min-width: 200px;
    height:	auto;
    border: 0px solid #999;
    box-shadow: 0 0 21px 3px #FFFFFF;
    background-color: white;
    padding-bottom: 5px;
    
}

header{
border: 0px solid black;
display: inline-block;
NObackground-color: yellow;
width: 100%;
margin: 3% auto 0 auto;
position: relative;
}

.socialBox{
    float:right;
    width: 50%;
    NObackground-color: yellow;
    max-width: 300px;
    margin: 0 auto;
}
#social{width:50%;}


h1{
  inline:block;
  clear: both;
}
.text{
   size: 20px;
}

#logoBox{
border: 0px solid blue;
display: inline-block;

width: 100%;
max-width: 800;
margin: 0 auto;
position: relative;
NObackground-color: yellow;
}
#logoBox:before {
    padding-bottom: 33%; /* aspect ratio! */
    content: ""; float: left;
}
#logoBox:after {
    /* clearfix */
    content: ""; display: table; clear: both;
}


#logoHearth{
text-align: left;
border: 0px solid black;
display: inline-block;
width: 35%;
left:3%; 
top:3%;
margin: 0 0 0 0;
position: absolute;
}
#logoHearth:before {
    padding-bottom: 89%; /* aspect ratio! */
    content: ""; float: left;
}
#logoHearth:after {
    /* clearfix */
    content: ""; display: table; clear: both;
}
#logotitle{
  position: absolute;
  width:59%;
  right: 3%;
  top: 15%;
}

.logopiece{
position: absolute;
transform-origin-x: 50%;
transform-origin-y: 50%;
}

#headerTop{
  position: fixed;
  width:100%;
  NOborder: 2px solid yellow;
  margin: 0px;
}

#subsubtitle{
  font-family: 'Catamaran', sans-serif;
  text-align: center;
  font-size: 1.65em;
  font-weight: 100;
  letter-spacing: 2px;
  color: #000;
  bottom: 0%;
  bottom: 0%;
  margin: 10px auto;
}
@media only screen and (max-width: 620px) {

   #subsubtitle { font-size: 0.8em; }

}
nav{
clear: both;
float: left;
width: 50%;
margin-top: 3%;
}
aside{
  float: right;
  width: 35%;
  margin: 5px 10% 0 5% ;
  NObackground-color: light-yellow;
  text-align: left;
  
}
#newsBox{
  NOborder: 1px solid blue;
  width: 100%;
  margin:10px auto;
}

#newsBox > h3 {
  font-size: 25px;
  margin-bottom:0px;
  font-style: italic;
  font-weight: 100;
}
#newsBox > .etc{
  font-size: 20px;
  NOfont-style: italic;
  font-weight: 100;
  float: right;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: -10px;
  text-align: right;
}

.text {
  text-align: left;
  margin: 8%;
}
.text> h1 {
  clear: both;
  border-top: 1px solid #aba;
  width:100%;
  margin: 80px auto 10px auto;
  padding-top: 20px;
  
}
.back {
  font-size: 20px;
}

footer:before{
  clear: both;
  position: relative;
  padding: 10px;
  border: 1px solid black;
}
footer{
  border-top: 1px solid #aba;
  width:90%;
  clear: both;
  position: relative;
  margin: 10px auto 10px auto;
  padding-top: 10px;
  bottom: 0%;
  letter-spacing: 3px;
  font-size: 13px;
}

.login_btn{
	position: relative;
	margin: 15px auto;
	max-width: 300px;
    height: 30px;
	width: 80%;
	border: 2px solid #007F37;
    //background-color: #b0fFc7;
	text-align: center;
    font-weight: 700;
    border-radius: 8px;
	font-size:22px; 
	padding: 15px;
	color: #007F37;
}
.login_btn:hover{
	cursor:pointer;
	background-color: #007F37;
	border: 2px solid #007F37;
	color: white;
}
.news {
  display:block;
  clear: both;
  margin: 10px auto 10px auto;
  background-color: #EEE;
  border-radius: 8px;
  NOborder: 2px solid blue;
  padding: 10px;
}
.news > h4{
  color: red;
  display:inline;
  text-align: left;
  clear: both;
  font-size: 20px;
}
.thumb{
  float: left;
   clear: both;
  display:block;
  float: left;
  width: 28%;
  border-radius: 15px;
  margin-right:8px;
  border: 1px solid gray;
}
.news > .text{
  margin: 5px;
  line-height: 130%;
  font-size: 18px;
  margin-bottom: 0px;
}
.news > .spacer{
  clear: both;
}
.news > .more{
  float: right;
  text-align:right;
  margin-left:5px;
  clear: both;
  display: block;
  font-size: 15px;
  margin: 0px;
}
.news > .date{
  color: gray;
  display:inline; 
  clear: both;
  float: right;
  font-size: 15px;
}

@media only screen and (max-width: 620px) {
/* one column for small screens */
aside{ clear: both; }
nav{ width: 100%;}
aside{width: 80%;}
.socialBox{ width: 100%; clear: both; float: none; }
.login_btn{ font-size:18px; padding: 12px;height: 24px; }
}

.input_container{
	position: relative;
	margin: auto;
	max-width: 350px;
	min-width: 250px;
	height: auto;
}

.inputCod {
	position: relative;
	margin:auto;
	background-color:white;
	resize: none;
	border:solid 1px #006F37;
	outline:none;
	max-width: 700px;
	min-width: 200px;
	font: medium -moz-fixed;
   font: -webkit-small-control;
   font: 14px sans-serif;
	line-height: 140%;
	color: #333;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
	padding-right: 5px;
}

.bottSend{
	background-color: #4CAF50;
	color:#FFFFFF;
	float: right;
	margin-top: 7px;
	margin-bottom: 10px;
	cursor:pointer;
	font-family:'Myriad Pro',Arial,Helvetica,sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:10px;
	border:solid 1px #006F37;
	outline:0;
}
.bottSend:hover{
	opacity:0.8;
}

#messageAlert{
	position: fixed;
	border:solid 1px #006F37;
	/* center the element */
	top: 150px;
   right: 0;
   left: 0;
   margin-right: auto;
   margin-left: auto;
   /* give it dimensions */
	background-color: white;
	z-index: 1000;
	height: auto;
	max-width:  300px;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	color: #006F37;
	box-shadow: 0 0 800px 200px  #006F37;
	font-weight: bold;
}

